@model WeddingAnniversary.Areas.User.Models.Invitation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Invitation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvitationIntro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvitationIntro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OurStory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OurStory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenueLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenueWebsite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueWebsite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeddingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeddingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RSVPDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RSVPDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
