@model WeddingAnniversary.Areas.User.Models.Guest

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Guest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowedPusOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowedPusOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestList.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RSVP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RSVP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlusOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlusOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlusOneName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlusOneName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlusOneSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlusOneSurname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
